
.icon-mail:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */